ul {
	margin: 0px; padding: 0px; overflow: hidden; list-style-type: none;
}
li {
	width: 16.66%; float: left;
}
a:link {
	padding: 4px; text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; font-weight: bold; text-decoration: none; display: block; background-color: rgb(190, 190, 190);
}
a:visited {
	padding: 4px; text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; font-weight: bold; text-decoration: none; display: block; background-color: rgb(190, 190, 190);
}
a:hover {
	background-color: rgb(204, 0, 0);
}
a:active {
	background-color: rgb(204, 0, 0);
}
